<ons-page>
    <ons-toolbar>
        <div class="left">
            <ons-toolbar-button ng-click="mynav.resetToPage('views/home.html')">
                <ons-icon icon="md-home"></ons-icon>
            </ons-toolbar-button>
        </div>  
        <div class="right">
            <ons-toolbar-button ng-click="mynav.resetToPage('views/profile.html')">
              <ons-icon icon="md-account-o"></ons-icon>
            </ons-toolbar-button>
        </div>  
        <div class="center"><img src="img/xedro.png" class="toolbar-image"></div>
    </ons-toolbar>
    HOME

    <ons-button modifier="quiet" class="forgot-password" ng-click="mynav.resetToPage('views/profile.html')">profile</ons-button>

</ons-page>